page-intro {

<<<<<<< HEAD
=======
    ion-slide {
        background-color: #32db64;
    }
    ion-slide img {
        height: 85vh !important;
        width: auto !important;
    }

>>>>>>> 7e39fad6a8f0ad12ec5d441f6ac0312baec3434f
}
